.link {
  text-decoration: none;
  color: white;
}
.section {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.box {
  padding: 10px;
  margin-bottom: 1rem;
  background-color: whitesmoke;
}
.company {
  display: flex;
  flex-direction: "row";
}
.heroic {
  background-image: url("../public/images/home-bg.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}